* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.Projects {
  grid-area: container;
  background-color: rgb(212, 211, 211);
  // border: 1px solid red;
  align-items: center;

  .post {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: rgb(212, 205, 205);
    border: 1px solid rgb(170, 163, 163);
    border-radius: 8px;
    box-shadow: 2px 2px 2px 1px #8a8585;

    // margin: 1rem 5em;
    margin: 0.5% 10%;
    padding: 15px;
    :hover {
      color: var(--beige);
    }
  
  }
}
