.Hooks {
  text-align: center;
  background-color: #282c34;
  color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  min-height: 100vh;
  padding: 50px;
  list-style: none;
  // color: blueviolet;
  // color: rgb(247, 181, 247);
  a {
    text-decoration: none;
    color: aqua;
  }
  a:hover {
    color: rgb(226, 110, 129);
  }
  a:visited {
    color: beige;
  }
  a:active {
    color: rgb(199, 141, 141);
  }

  /* WORKS TITLE  */
  h2 {
    // color: blueviolet;
    font-weight: bold;
    font-size: 26px;
    margin: 0 0 30px 0;
    padding: 5px;
  }

  /* WORKS PARAGRAPH  */
  p {
    color: white;
    margin: 0 0 20px 0;
    padding: 5px;
  }
}
