.UseSt {
    text-align: center;
    background-color: #282c34;
    color: white;
  
  .header {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
  }
  
  h2 { 
    font-size: 50px;
    padding: 30px;
  }
  
  button {
    padding: 10px ; 
    margin: 10px;
    width: 100px;
  }
  .Add { 
    background-color: #e97777;
  }
  .Delete {
    background-color: #e97777;
  }
  .link {
    color: #61dafb;
  }
  }
  