.MyButton {
  .btn {
    padding: 5px 15px;
    color: rgb(230, 24, 24);
    font-size: 14px;
    background: transparent;
    background-color: rgb(226, 176, 176);
    //   border: 1px solid rgb(223, 35, 35);
    cursor: pointer;
  }
}
