.link {
  grid-area: link;
  display: grid;
  flex-direction: column;
  justify-content: space-between;
  text-decoration: none;

  .item {
    display: block;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    text-decoration: none;
    text-shadow: 1px 1px grey;
    margin-top: 10px;
    padding-top: 20px;
    font-size: 20px;
  }
  :hover {
    color: #000;
  }
  .item .activeLink {
    color: gold;
  }
}
