.links {
  grid-area: links;
  display: grid;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  // border: 1px solid #ccc;

  .item {
    display: block;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    text-decoration: none;
    text-shadow: 1px 1px grey;
    margin-top: 10px;
    padding-top: 20px;
    font-size: 20px;
  }
  :hover {
    color: var(--orchid);
  }
  .item .activeLink {
    color: gold;
  }
}
