.link {
  grid-area: link;
  display: grid;
flex-direction: column;  
justify-content: space-between;
text-decoration: none;


  .item {
    color: rgb(138, 122, 122);
    text-decoration: none;
    padding: 10px;
  }
  .item .activeLink {
    color: gold;
  }
}
