.nav {
  grid-area: n;
  // position: fixed;
  background-color: rgb(235, 232, 232);
  padding: 20px;
  height: 100vh;
  justify-content: space-around;
  align-items: center;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.2fr 2.2fr 0.6fr;

  grid-template-areas:
    "logo"
    "links"
    "icons";
}
