.social-icons {
  grid-area: icons;

  ul {
    height: 35vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    li i {
      color: whitesmoke;
      text-shadow: 1px 1px 2px grey;
      font-size: 30px;
      padding: 8px;
      // margin: 0 10px;
    }
    li i:hover {
      color: #000;
    }
  }
}

