.News {
  text-align: center;
  color: white;
  background-color: #282c34;
  header {
    font-size: calc(10px + 2vmin);
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  link {
    color: #282c34;
  }
}
