:root {
    --white: white;
    --beige: #fffaf0;
    --dbeige: #fff4e1;
    --linen: #faf0e6;
    --tistle: #d8bfd8;
    --orchid: #dda0dd;
    --violet: #8a2be2;
    --purple: #9370db;
    --fuchsia: #ff00ff;
    --grey: #808080;
    --black: black;
  /* color: var(--main-grey); */
}