:root {
    --white: white;
    --beige: #fffaf0;
    --dbeige: #fff4e1;
    --linen: #faf0e6;
    --hrose: #ffe4e1;
    --tistle: #d8bfd8;
    --lorchid: #f5d9f5;
    --orchid: #e4c6e4;
    --dorchid: #dda0dd;
    --fuchsia: #ff00ff;
    --violet: #8a2be2;
    --purple: #9370db;
    /* --green: #00fa9a; */
    --green: #4bd8a2;
    --mblue: #7b68ee;
    --lgrey: #d6d6cd;
    --grey: #808080;
    --black: black;
    --react: #282c34;
  /* color: var(--grey); */
}