.post {
    display: flex;
    padding: 15px;
    border: 2px solid rgb(179, 175, 175);
    background-color: rgb(236, 225, 225);
    margin-top: 15px;
    justify-content: space-between;
    align-items: center;
  }