* {
  box-sizing: border-box;
}

.Todos {
  // grid-area: container;
  width: 100%;
  height: 100vh;
  display: column;
  flex-direction: column;
  align-content: space-between;
  text-align: center;
  background-color: var(--react);
  // font-size: 4vw;
  color: white;

  header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;
    font-size: 2vw;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
      0 2px 4px -1px rgba(0, 0, 0, 0.06);
    // background-color: var(--react);
  }
  .content {
    height: 90vh;
    main {
      // height: auto;
      flex-grow: 1;
      .card {
        width: 10vw;
      }
      .container {
        display: flex;
        // width: 80%;
        justify-content: center;
        ul {
          width: 65%;
          list-style: none;
          padding: 0.5vw;
        }
        .item {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          // font-size: 1vw;
          height: 5vh;
          padding: 0.5vw;
          margin: 0.5vw;
          background-color: rgb(168, 167, 167);
          input {
            width: 2vw;
            height: 1.7vw;
            text-align: center;
            cursor: pointer;
          }
          input :focus + label {
            text-decoration: underline;
          }
          label {
            font-size: 2vw;
            flex-grow: 1;
          }
          svg {
            width: 1.5vw;
            color: rgb(231, 231, 233);
            cursor: pointer;
          }
          svg:focus,
          svg:hover {
            color: gray;
            outline: none;
          }
        }
      }
    }

    .Add {
      display: flex;
      align-items: center;
      flex-direction: column;

      .container {
        // flex-grow: 1;
        width: 63%;
        height: 4vh;
        display: flex;
        justify-content: center;
        list-style: none;
        background-color: rgb(168, 167, 167);
        margin-top: 3vh;

        label {
          position: absolute;
          left: -999999px;
        }
        input[type="text"] {
          flex-grow: 1;
          color: rgb(245, 245, 248);
          font-size: 1rem;
          outline: none;
          background-color: rgb(168, 167, 167);
        }
        button {
          min-width: 48px;
          font-size: 1rem;
          background-color: rgb(168, 167, 167);
          color: rgb(245, 245, 248);
          cursor: pointer;
        }
        button:focus,
        button:hover {
          color: gray;
          outline: none;
        }
      }
    }
    .Search {
      display: flex;
      align-items: center;
      flex-direction: column;
      margin-bottom: 10px;
      // border: 3px solid rgb(20, 67, 223);

      .search-cont {
        width: 65%;
        height: 5vh;
        font-size: 14px;
        padding: 1vw;
        display: flex;
        justify-content: center;
        list-style: none;
        margin-top: 1vh;

        label {
          position: right;
          right: inherit;
        }
        input {
          flex-grow: 1;
          font-size: 18px;
          outline: none;
          width: 60vw;
          height: 5vh;
          color: rgb(104, 103, 103);
          background-color: rgb(168, 167, 167);
        }
        button {
          font-size: 1rem;
          // background-color: rgb(12, 102, 180);
          background-color: rgb(168, 167, 167);
          color: rgb(245, 245, 248);
          cursor: pointer;
        }
        button:focus,
        button:hover {
          color: rgb(168, 167, 167);
          background-color: rgb(243, 236, 236);
          outline: none;
        }
      }
    }
  }
  footer {
    display: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 5vh;
    bottom: 0;
    font-size: 1.5vw;
    box-shadow: 0 -1px 4px 1px rgba(0, 0, 0, 0.06),
      0 -1px 6px 1px rgba(0, 0, 0, 0.1);
    background-color: var(--react);
  }
}
